name: Tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                python-version: ["3.6"]
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install tox tox-gh-actions
            - name: Test with tox
              env:
                  TENANT_ID: ${{secrets.TENANT_ID}}
                  MERCHANT_ID: ${{secrets.MERCHANT_ID}}
                  PAYMENT_ORDER_ID: ${{secrets.PAYMENT_ORDER_ID}}
                  PAYMENT_ORDER_ID_OPEN: ${{secrets.PAYMENT_ORDER_ID_OPEN}}
                  PAYMENT_ID: ${{secrets.PAYMENT_ID}}
                  SPLIT_TREE_ID: ${{secrets.SPLIT_TREE_ID}}
              run: tox
